body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}